# App
APP_ENV=development
SECRET_KEY=sb_secret_SAFE
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=10080

# Supabase
SUPABASE_URL=URL_of_Your_Supabase_Project
SUPABASE_SERVICE_KEY=SUPABASE_SERVICE_KEY
SUPABASE_ANON_KEY=SUPABASE_ANON_KEY

# Cloudflare R2
R2_ACCESS_KEY_ID=your_r2_access_key
R2_SECRET_ACCESS_KEY=your_r2_secret_key
R2_ENDPOINT_URL=https://your_account_id.r2.cloudflarestorage.com
R2_BUCKET_NAME=sleep-models
